.page-button-institution {
    display: flex;
    justify-content: flex-end;
    padding: 1%;
  }

/*Create Option Page*/
.title h2{
  text-align: center;
  color:white;
  font-size: xxx-large;
}

.button-options{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
  margin-top: 1%;
}