.page-button-institution {
    display: flex;
    justify-content: flex-end;
    padding: 1%;
  }

/*Create Option Page*/
.title h2{
  text-align: center;
  color:white;
  font-size: xxx-large;
}

.button-options{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
  margin-top: 1%;
}

/*Create Institution*/
.new-institution-card{
  color:white;
  font-size: x-large;
  padding:25px;
}

.add-diasease, .add-authority{
  background-color: #97CECC;
}

.button-wrapper{
  display:flex;
  justify-content:flex-end;
}