input[type="checkbox"] {
  width: 25px;
  height: 25px;
}

input[type="checkbox"]:checked {
  box-shadow: 0 0 0 2px;
}

.checkbox-input {
  margin-left: 10px;
  line-height: 2em;
  margin-top: 10px;
}
