.string-input {
  box-sizing: border-box;
  border-radius: 4px;
  line-height: 2em;
  width: 37em;
  margin-top: 10px;
}

input[type=text]:focus {
    background-color: whitesmoke;
    border: 3px solid transparent;
  }