.page-button-users {
  display: flex;
  justify-content: flex-end;
  padding: 1%;
}

.options_title {
  color: black;
  text-align: center;
  padding: 2rem;
  font-size: xx-large;
}

.options_div {
  display: flex;
  font-size: xx-large;
  font-weight: 700;
  justify-content: center;
  gap: 10rem;
  padding-bottom: 3rem;
}

.title {
  color: black;
  font-size: x-large;
  padding: 1% 1.5% 0;
}

.first_row,
.second_row,
.third_row,
.forth_row,
.fifth_row {
  display: flex;
  clear: both;
  margin-top: 1rem;
  gap: 2rem;
}

.sixth_row{
  display: flex;
  justify-content: flex-end;
  margin: 1.5rem 5rem
}

.checkbox_input {
  width: 1.3rem;
  height: 1.3rem;
}

.column {
  flex: 50%;
}

.groupName {
  width: 35rem;
}