.button{
    background-color: #F483A4;
    border: white;
    border-radius: 10px;
    border-color: white;
    box-shadow: none;
    font-size: x-large;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    
}