.horizontal {
  background-color: #043c34;
  line-height: 100px;
  display: flex;
  justify-content: right;
  padding-right: 180px;
  color:white;
  font-size:large;
}

.right-li{
  list-style: none;
}

/* Change the link color on hover */
li:hover {
  color: white;
  font-size: x-large;

}