.menu {
  width: 10vw;
  list-style-type: none;
  font-size: medium;
  margin: 0;
  padding: 0;
  background-color: #2f665f;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
li a {
  display: block;
  color: white;
  padding: 1.3rem 0.5rem;
  text-decoration: none;
}

.general_menu {
  padding-top: 5.7rem;
}

.MuiButtonBase-root{
  padding: 0px 16px;
}
