.filter {
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  background-color: azure;
  padding: 0px 15px;
}

.newAttribute {
  position: fixed;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  background-color: azure;
  padding: 0px 15px;
  top: 13.5vh;
  left: 13%;
  width: 82%;
}

.confirmDelete {
  position: fixed;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  background-color: white;
  padding: 0px 15px;
  top: 13.5vh;
  left: 37%;
  width: 30%;
  height: 25%;
}
.home_item {
  border-radius: 12px;
  background-color: #d6d3d3;
  display: block;
  text-align: center;
  padding: 0.5rem;
  margin: 16px 50px;
}

.general {
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  background-color: white;
  display: flex;
  margin: 10px;
}

.right {
  display: flex;
  font-size: x-large;
  padding: 2%;
}

.title {
  padding: 0 1%;
  color: black;
}

.row {
  display: flex;
  width: 100%;
}

.institution_asociation {
  border-radius: 12px;
  background-color: #97cecc;
  display: flex;
  margin: 25px 0px;
  text-align: right;
  font-size: larger;
  font-weight: 600;
}

.institution_card {
  flex: 50%;
  margin-left: 2%;
}

.institution_card h3 {
  font-weight: 100;
}

.institution_card_title {
  gap: 2rem;
  margin-top: 3.5%;
}

.login{
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  background-color: azure;
  padding: 0px 15px;
  width: 40rem;
  margin: auto;
  margin-top: 10rem;
}
.numbers_div{
font-family: verdana;
font-weight: bold;
text-align: center;
font-size: 30px;
color: rgb(91,156,54);}
