.card {
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.25);
    background-color: #4EAB9E;
    padding-left: 35px;
}
/*General Card Rules*/
.general{
    background-color: white;
    display: flex;
    margin: 10px;
}

.right{
   margin-left: auto;
   padding: 20px;
}

.title{
    margin: 10px 10px;
}

