/*General for filters*/
form {
  background-color: azure;
  padding: 20px;
  font-size: x-large;
  color: black;
}
input, option, select {
  display: block;
  font-size: x-large;
  padding-right: 20rem;
  border-radius: 4px;
  margin-right: 2rem;
}

select{
  margin-top: 2.3rem;
  border: solid black 1px;
}

label{
  display: block;
}

.date_input {
  line-height: 2rem;
}

.checkbox_input {
  width: 1rem;
  height: 1rem;
}

.first_row {
  display: flex;
  margin-top: 1rem;
  gap: 2rem;
}

.second_row {
  display: flex;
  gap: 2rem;
}

.third_row {
  display: flex;
  gap: 4rem;
  justify-content: center;
  margin-top: 1%;
  gap: 2rem;
}

.general_checkbox_div {
  display: flex;
  gap: 4rem;
}
/*Movement Filters */

.space_margin input {
  margin-right: 4rem;
  margin-left: 0.5rem;
  flex: 50%;
}

.dropdown-input {
  display: flex;
  gap: 10px;
  margin: 15px 0px;
}

.wrapper_date {
  display: flex;
  gap: 1rem;
}

@media (max-width: 1250px) {
  input {
    padding-right: 7rem;
  }

  .general_checkbox_div {
    display: flex;
    gap: 1rem;
  }
}

@media (max-width: 767px) {
  input {
    padding-right: 2rem;
  }
}
